@custom-media --tablet (min-width: map(mq, min, 768));

.home {
  display: grid;
  color: rgba(map(colors, accentRed), 0.8);
  font-size: calc(map(typography, fontSizeHeading6) * 1px);
  outline: 1px solid map(colors, borderPrimary);
  margin-left: auto;
  margin-right: auto;
  max-width: span(4);
  padding: 2em;

  @media (--tablet) {
    max-width: span(10);
  }
}

.foo {
  color: green;
}

.bar {
  color: blue;
  background: black;
}
